body {
    background-color: black;
  }
  #main {
    text-align: center;
    padding: 40px;
  }
  img {
    border: 5px solid white;
  }
  h1 {
    color: white;
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif
  }
  p {
    color: white;
  }